doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no, minimum-scale=1.0, maximum-scale=1.0')
        title Bobbi
        meta(property='og:title', content='')
        meta(property='og:image' content='')
        meta(property='og:url', content='')
        meta(property='og:description', content='')
        meta(name='keywords', content='')
        meta(name='description', content='')
        link(rel='stylesheet', href='assets/cms/css/bootstrap-reset-breakpoint.css')
        link(rel='stylesheet', href='assets/cms/css/layout.css')
        link(rel='stylesheet', href='assets/cms/css/style.css?v=191110')

body
    // ============================== main start ===============================
    main
        article
            section.banner
                img.img-fluid(src='assets/cms/images/01.jpg' title='金緻水光唇膏霸氣登場' alt='金緻水光唇膏霸氣登場')
            section.intro
                img.img-fluid(src='assets/cms/images/02.jpg' title='官網獨家優惠' alt='官網獨家優惠')
            section.title
                img.img-fluid(src='assets/cms/images/03-01.jpg' title='官網獨家組合' alt='官網獨家組合')
            section.product01
                a(href='#' title='金緻家族 加贈活動' target='_blank')
                    img.img-fluid(src='assets/cms/images/03-02.jpg' title='金緻家族 加贈活動')
            section.product02
                a(href='#' title='迷戀輕吻唇膏迷你組' target='_blank')
                    img.img-fluid(src='assets/cms/images/04.jpg' title='迷戀輕吻唇膏迷你組')
            //UV防曬組目前沒貨
            //section.product03
            //    a(href='#' title='UV防曬特選組' target='_blank')
            //        img.img-fluid(src='assets/cms/images/05.jpg' title='UV防曬特選組')
            section.product04
                a(href='#' title='冬蟲夏草精華粉底' target='_blank')
                    img.img-fluid(src='assets/cms/images/06.jpg' title='冬蟲夏草精華粉底')
            section.product05
                a(href='#' title='沁透茉莉淨妝油' target='_blank')
                    img.img-fluid(src='assets/cms/images/07.jpg' title='沁透茉莉淨妝油')

    // ============================== main close ===============================

// Common
//script(src='assets/cms/js/module/jquery.min.js')
//script(src='assets/cms/js/bootstrap/bootstrap.min.js')
//script(src='assets/cms/js/bootstrap/bootstrap.bundle.min.js')
